/*

RESETS

*/
html, body {
    background: #F2F2F2;
}
body {
    padding: 20px 0;
    text-align: center;
}
.container {
    position: relative;
}
.container img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
p.credits {
    font-size: 12px;
}
.modal .modal-header {
    display: block;
    position: relative;
    background: #EEE;
    border-bottom: 1px solid #CCC;
    border-radius: 6px 6px 0 0;
}
.container .container {
    width: 100%;
}
.loading,
.btn.loading {
    color: transparent;
    position: relative;
}
.btn.loading:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/loading.gif) no-repeat center center;
}
select.form-control.loading,
select.loading {
    color: transparent;
    background: transparent;
    border-color: firebrick;
}

/*

UPLOAD FORM

*/
.upload-wrapper {
    display: block;
    position: relative;
    height: 400px;
    margin: 30px 0;
}
form.bs-dropzone {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    border: 2px dashed firebrick;
    border-radius: 6px;
    padding: 30px;
    cursor: pointer;
}
.upload-wrapper.mini {
    width: 50%;
    margin: 30px 25%;
    height: 200px;
}
form.bs-dropzone:hover {
    background: #EEE;
}
form.bs-dropzone.dz-drag-hover {
    background: #DDD;
    border-colour: 2px solid #0099CC;
}
.mini form.bs-dropzone.dz-drag-hover {
    background: #FFF;
    border: 2px solid firebrick;
}
.mini form.bs-dropzone {
    background: #FFFFEE;
    border-color: #0099CC;
}
.mini form.bs-dropzone:hover {
    background: #FFFFFF;
}
form.bs-dropzone span.glyphicon {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 100px;
    color: #0099CC;
    text-align: center;
    top: calc(50% - 80px);
}
form.bs-dropzone:after {
    content: "DRAG AND DROP A FILE TO HASH IT TO THE BLOCKCHAIN";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    bottom: 30px;
    font-size: 15px;
    line-height: 30px;
    color: #757575;
}
.mini form.bs-dropzone:after {
    content: "DRAG AND DROP A FILE TO VERIFY OWNERSHIP";
}
form.bs-dropzone button[type="submit"]:hover {
    color: #333;
}
form#save-to-blockchain .hash-cost,
form#save-to-blockchain .annual-cost {
    font-weight: bold;
}
form.bs-dropzone.loading,
.mini form.bs-dropzone.loading {
    background: #000 url(../img/giphy.gif) center center no-repeat;
    border-color: #AAA;
}
form.bs-dropzone.loading span.glyphicon,
.mini form.bs-dropzone.loading span.glyphicon {
    display: none;
}
    


.dropzone-previews .dz-progress,
.dropzone-previews .dz-success-mark,
.dropzone-previews .dz-error-mark,
.dropzone-previews .dz-error-message {
    display: none;
}
.dropzone-previews .dz-details {
    margin-bottom: 10px;
}
.dropzone-previews .dz-details img {
    background: #EEE;
    border: 1px solid #CCC;
    padding: 5px;
    margin: 5px 0;
}
.dropzone-previews .dz-details .filename,
.dropzone-previews .dz-details .size {
    margin: 5px 0;
    color: #757575;
}
.dz-image img {
    max-width: 100%;
    height: auto;
}