/*

RESETS

*/
html, body {
    background: #F2F2F2;
}
body {
    padding: 20px 0;
    text-align: center;
}
.container {
    position: relative;
}
.container img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
p.credits {
    font-size: 12px;
}
.modal .modal-header {
    display: block;
    position: relative;
    background: #EEE;
    border-bottom: 1px solid #CCC;
    border-radius: 6px 6px 0 0;
}
.container .container {
    width: 100%;
}
.loading,
.btn.loading {
    color: transparent;
    position: relative;
}
.btn.loading:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/loading.gif) no-repeat center center;
}
select.form-control.loading,
select.loading {
    color: transparent;
    background: transparent;
    border-color: firebrick;
}
form input.form-control, 
form select.form-control {
    margin: 5px 0;
}
.byline {
    color: #757575;
    padding-bottom: 30px;
}

/*

ICONS

*/
a.icon {
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 140px;
    height: 140px;
    padding: 30px;
    left: 50%;
    margin: 0 0 70px -70px;
    border-radius: 100px;
    background: #FFF;
    border: 2px solid #CCC;
}
a.icon:before {
    content: "";
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    left: 50%;
    margin: -10px 0 30px -50px;
    background: url(../img/blockchains.png) no-repeat;
}
a.icon.icon-ltc:before, 
a.icon.icon-ltct:before {
    background-position: -100px 0;
}
a.icon.icon-doge:before, 
a.icon.icon-doget:before {
    background-position: -200px 0;
}
a.icon.icon-dash:before, 
a.icon.icon-dasht:before {
    background-position: -300px 0;
}
a.icon:hover {
    color: #757575;
    background: #000;
    border-color: #AAA;
}
a.icon:hover:before {
    background-position: 0 -100px;
}
a.icon.icon-ltc:hover:before, 
a.icon.icon-ltct:hover:before {
    background-position: -100px -100px;
}
a.icon.icon-doge:hover:before, 
a.icon.icon-doget:hover:before {
    background-position: -200px -100px;
}
a.icon.icon-dash:hover:before, 
a.icon.icon-dasht:hover:before {
    background-position: -300px -100px;
}